<section class="form-section">

    <div class="text">

        <h3>Fique por dentro de tendências</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi deserunt atque expedita excepturi pariatur praesentium, quaerat quos sunt ab, nesciunt porro, aut omnis doloribus! Magnam repudiandae ullam aliquid fugit.</p>

    </div>

    <form [formGroup]="newsletterForm">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
    
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email">
    
        <btn-primary btn-text="Se inscreva" variant="secondary"></btn-primary>
    </form>

</section>
